coverage.xml

# CICD
dist/
bin/

# Local development tools/files
.idea
.env
.envrc
*.gpg

# build files
src/versioninfo.json
src/resource.syso

# Changelog is generated in prerelease pipeline
CHANGELOG.md
