name: Create prerelease artifacts

on:
  release:
    types:
      - prereleased
    tags:
      - 'v*'

jobs:
  pre-release:
    uses: newrelic/coreint-automation/.github/workflows/reusable_pre_release.yaml@v3
    with:
      tag: ${{ github.event.release.tag_name }}
      integration: "docker"
      test_package: false
      run_test_windows: false
      run_build-win-packages: false
      publish_schema: custom
      publish_schema_url: "https://raw.githubusercontent.com/newrelic/nri-docker/${{ github.event.release.tag_name }}/build/s3-publish-schema.yml"
    secrets: inherit
