name: Push/PR pipeline

on:
  push:
    branches:
      - main
      - master
  pull_request:

env:
  TAG: "v0.0.0" # not needed for go releaser, but kept for uniformity
  REPO_FULL_NAME: ${{ github.event.repository.full_name }}
  ORIGINAL_REPO_NAME: "newrelic/nri-docker"

jobs:
  validate:
    name: Validate code via linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate code
        run: make ci/validate

  test-nix:
    name: Run unit tests on *Nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Unit tests
        run: make ci/test

  # can't run this step inside of container because of tests specific
  test-integration-nix:
    name: Run integration tests on *Nix
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/github.com/${{ env.ORIGINAL_REPO_NAME }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: src/github.com/${{env.ORIGINAL_REPO_NAME}}
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'src/github.com/${{ env.ORIGINAL_REPO_NAME }}/go.mod'
      - name: Integration test
        env:
          GOPATH: ${{ github.workspace }}
        run: make integration-test

  test-cgroups-v2-integration-nix:
    name: Run integration tests for cgroups v2 on *Nix
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: src/github.com/${{ env.ORIGINAL_REPO_NAME }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: src/github.com/${{env.ORIGINAL_REPO_NAME}}
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'src/github.com/${{ env.ORIGINAL_REPO_NAME }}/go.mod'
      - name: Integration test
        env:
          GOPATH: ${{ github.workspace }}
        run: make integration-test

  test-build:
    name: Test binary compilation for all platforms:arch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build all platforms:arch
        run: make ci/build
